
.techHeader{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 250%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.section4{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;

}

.container4 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30em;
}

.iFrame {
    height: 500px;
    width: 1100px;
}

.canvas {
    outline: none;
}