@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.heroHeader{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 250%;
}

.section{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(83, 83, 83, 0.699); */
}

.container {    
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    position: relative;
    width: 80vw;
    max-width: 1100px;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background: linear-gradient(45deg, #1a1a1d,#79797c); */
    border-radius: 10px; 
}

.container .card img {
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
    z-index: 1;

}

.container .card:hover img {
    left: 73%;
    height: 500px;
    
}

.container .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.container .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.container .card .content h2 {
    color: #111;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.container .card .content p {
    color: #111;
}


@media (max-width: 991px) {
    .container .card {
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }
    
    .container .card:hover {
        height: 600px;
    }

    .container .card:hover img {
        left: 50%;
        height: 350px;

    }

    .container .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 90%;
}